
bin/
data/
lib/
localExaOutput/
meshdata/
obj/
output/
results/
*.btr
*.h5
examples_output/
__pychache__
localExamOutput/
*.sif
*.swp
*bak*.*bak*
# editors / ctags
tags
.tags
*.tags




# python
__pycache__/
*.py[cod]
.pytest_cache/
.venv/ env/ venv/

# build / C++
build/ cmake-build*/ dist/ *.o *.a *.so *.dylib

# outputs / big data
examples_output/
*.h5
*.png
*.vtk

env/*
__pycache__/*
tags
*.png
*.swo
*.swp
